<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="page">
    <div class="top-elements">
        <div class="left-elements">
            <button class="icono-archivo">
                <i class="fas fa-download" (click)="descargarPlantilla()"></i>
            </button>
            <h4 class="upload-title">Descargar plantilla excel</h4>
        </div>
        <div class="right-elements">
            <h4 class="upload-title">Cargar múltiples destinatarios con archivo excel (.xlsx)</h4>
            <div class="drop">

                <input type="file" id="fileInput" accept=".xls, .xlsx" #fileInput>
                <div class="drop-buttons">
                    <button id="convertir" (click)="convertir()">Añadir a la tabla</button>
                    <button id="deshacer" (click)="reset()">Deshacer cambios</button>
                </div>
            </div>
        </div>

    </div>

    <div class="cont">
        <div class="nav_table">
            <button [disabled]="selectedRuts.length === 0"
                (click)="openCrear()">Agregar a campaña</button>
            <button class="upload" (click)="subirDestinatarios()">Guardar Cambios</button>            
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="selectedRuts.length === listDestProv.length">
                        </th>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let destinatario of listDestProv">
                        <td>
                            <input type="checkbox" [value]="destinatario.rut"
                                [checked]="selectedRuts.includes(destinatario.rut)"
                                (change)="onCheckboxChange($event, destinatario.rut)">
                        </td>
                        <td>{{ formatRut(destinatario.rut) }}-{{ destinatario.dvrut | titlecase}}</td>
                        <td>
                            {{ destinatario.nombre | titlecase }}
                            {{ destinatario.snombre | titlecase}}
                            {{ destinatario.appaterno | titlecase}}
                            {{ destinatario.apmaterno | titlecase }}
                        </td>
                        <td class="email-container">{{ destinatario.email }}</td>
                        <td>{{ destinatario.telefono }}</td>
                        <td>
                            <button *ngIf="isDestinatarioAntiguo(destinatario.rut)"
                                (click)="openEditDest(destinatario)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button *ngIf="isDestinatarioAntiguo(destinatario.rut)"
                                (click)="eliminarDestinatario(destinatario)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="listDest.length === 0">
                        <td colspan="6">No hay destinatarios disponibles.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal para editar destinatario -->
<app-edit-destinatario *ngIf="isModalOpen && selectedDestinatario" [destinatario]="selectedDestinatario"
    (onSave)="editarDestinatario($event)" (onClose)="isModalOpen = false">
</app-edit-destinatario>

<!-- modal para elegir campaña para la difusion -->
<div class="popup" id="popup" #popup>
    <div class="cerrar">
        <h3 id="closeBtn" #closeBtn>X</h3>
    </div>
    <div class="cont" id="cont" #cont>
        <h2>Seleccione la campaña:</h2>
        <form>
            <label for="selectCampana">Campaña:</label>
            <select id="selectCampana" [(ngModel)]="selectedCampana" name="select" (change)="cambioCampana($event)">
                <option *ngFor="let campana of listCam" [ngValue]="campana.id_campana">{{ campana.nombre | titlecase }}</option>
            </select>
            <button (click)="crearDifusion()">Agregar a lista</button>
        </form>
    </div>
</div>