<div class="page">
    <div class="drop">
        <input type="file" id="fileInput" accept=".xls, .xlsx" #fileInput>
        <button id="convertir" (click)="convertir()">convertir</button>
    </div>

    <div class="cont">
        <div class="nav_table">
            <button class="upload" (click)="subirDestinatarios()">Subir</button>
            <button class="reset" (click)="reset()">Reset</button>
            <button class="new_dif">Difusión</button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Dv rut</th>
                        <th>Nombre</th>
                        <th>Segundo Nombre</th>
                        <th>Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let destinatario of listDestProv">
                        <td>{{ destinatario.rut }}</td>
                        <td>{{ destinatario.dvrut | titlecase}}</td>
                        <td>{{ destinatario.nombre | titlecase }}</td>
                        <td>{{ destinatario.snombre | titlecase}}</td>
                        <td>{{ destinatario.appaterno | titlecase}}</td>
                        <td>{{ destinatario.apmaterno | titlecase }}</td>
                        <td class="email-container">
                            <ng-container *ngIf="destinatario.email; else plainEmail">
                                {{ destinatario.email}}
                            </ng-container>
                            <ng-template #plainEmail>
                                No hay correo registrado
                            </ng-template>
                        </td>
                        <td>{{ destinatario.telefono }}</td>
                    </tr>
                    <tr *ngIf="listDest.length === 0">
                        <td colspan="8">No hay destinatarios disponibles.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>