.page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top-elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;

}

.right-elements {
    width: 70%;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 15%;
}

.left-elements {
    width: 30%;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 10%;
}

.icono-archivo {
    font-size: 100px;
    color: #f1e64e;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.upload-title {
    color: #f1e64e;
    margin-bottom: 10px;
    text-align: center;
    font-family: poppins-medium;
}

.drop {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}

.drop input {
    border: 2px #f1e64e;
    border-style: dashed;
    background-color: black;
    width: 100%;
    height: 70%;
    cursor: pointer;
}

.drop-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.drop button {
    height: 40px;
    width: 48%;
    cursor: pointer;
    margin: 5%;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.cont .nav_table {
    width: 220px;
    margin-left: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cont .nav_table {
    width: 220px;
    margin-left: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
}


.nav_table button {
    align-self: center;
    width: 105px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #f1e64e;
    background-color: black;
    transition: 0.3s;
}

.nav_table button:hover {
    cursor: pointer;
    color: black;
    background-color: #f1e64e;
    transition: 0.3s;
}

.table-container {
    border: 1px solid #f1e64e;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    border-bottom: 1px solid #f1e64e;
}

thead tr th {
    background-color: #0c0c0c;
    font-family: poppins-medium;
    color: #f1e64e;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

tbody td {
    font-family: poppins-regular;
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid #f1e64e;
}

tbody tr td {
    text-align: center;
}

/* Fila par (even) */
tbody tr:nth-child(even) {
    background-color: #363636;
    transition: 0.3s;
}

/* Fila impar (odd) */
tbody tr:nth-child(odd) {
    background-color: #0c0c0c;
    transition: 0.5s;
}

tbody tr:hover {
    background-color: #f1e64e;
    color: black;
    transition: 0.5s;
}

table th,
table td {
    text-align: left;
}

.email-container {
    text-transform: lowercase;
}

td button {
    margin: 0 5px;
    height: 30px;
    width: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

td button i {
    font-size: 16px;
    color: #f1e64e;
}

tbody tr:hover {
    background-color: #f1e64e;
    color: black;
}

tbody tr:hover td button i {
    color: black;
}

/*estilos para el popup*/
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    min-height: fit-content;
    width: 25%;
    background-color: #ffffff90;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.popup h2 {
    font-family: poppins-bold;
    color: black;
    align-self: center;
    text-align: center;
}

.popup .cerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    transition: 0.3s;
}

.popup .cerrar:hover {
    cursor: pointer;
    background-color: #f1e64e;
    transition: 0.3s;
}

.popup .cerrar h3 {
    font-family: 'Poppins', sans-serif;
    color: #f1e64e;
    margin: 0;
    line-height: 30px;
    text-align: center;
    transition: 0.3s;
}

.popup .cerrar:hover h3 {
    color: black;
    transition: 0.3s;
}

.popup .cont {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
}

.cont form {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 60%;
}

form label {
    color: #0c0c0c;
    font-family: poppins-regular;
}

form select {
    height: 30px;
    background-color: #0c0c0c;
}

form button {
    align-self: center;
    margin-top: 30px;
    height: 40px;
    width: 170px;
    font-family: poppins-medium;
    background-color: black;
    border: none;
    border-radius: 7px;
}

form button:hover {
    background-color: #f1e64e;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}