.container {
    height: 110vh;
    display: flex;
    align-items: center;
}

.sidebar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 95%;
    background-color: black;
    border-right: 2px solid #f1e64e;
    border-top: 2px solid #f1e64e;
    border-bottom: 2px solid #f1e64e;
}

.sidebar .perfil {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil .img {
    border: 3px solid #f1e64e;
    height: 70px;
    width: 70px;
    background-size: cover;
    border-radius: 100%;
    overflow: hidden;
}

.perfil .img img {
    height: 100%;
    width: 100%;
}

.perfil h4 {
    font-family: poppins-medium;
}

.perfil button {
    font-family: poppins-regular;
    border-radius: 7px;
    background-color: black;
    border: 1px solid#f1e64e;
    transition: 0.5s;
}

.perfil button:hover {
    background-color: #f1e64e;
    border-color: black;
    transition: 0.5s;
    cursor: pointer;
    color: black;
}

.separator {
    align-self: center;
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
    width: 95%;
}

.sidebar nav {
    height: 80%;
    width: 100%;
    display: flex;
}

nav .link {
    align-items: center;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link h3 {
    font-family: poppins-medium;
}

.link button {
    font-family: poppins-Regular;
    height: 35px;
    background-color: black;
    width: 80%;
    border: 1px solid#f1e64e;
    border-radius: 7px;
    transition: 0.5s;
}

.link button:hover {
    background-color: #f1e64e;
    border-color: black;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}