.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.top-elements {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10px;
}

.report-title {
    font-family: poppins-light;
    margin-top: 0;
    color: #f1e64e;
    font-size: 20px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.info-item {
    flex: 1 1 45%;
    margin: 5px;
    padding: 5px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    background-color: #b3b3b3;
}

.info-label {
    font-family: poppins-bold;
    font-size: 14px;
    color: #333;
}

.info-value {
    color: #333;
    font-family: poppins-regular;
    font-size: 14px;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.table-container {
    border: 1px solid #f1e64e;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    border-bottom: 1px solid #f1e64e;
}

thead tr th {
    background-color: #0c0c0c;
    font-family: poppins-medium;
    color: #f1e64e;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

tbody td {
    font-family: poppins-regular;
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid #f1e64e;
}

tbody tr td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #363636;
    transition: 0.3s;
}

tbody tr:nth-child(odd) {
    background-color: #0c0c0c;
    transition: 0.5s;
}

table th,
table td {
    text-align: left;
}

.email-container {
    text-transform: lowercase;
}

td button {
    margin: 0 5px;
    height: 30px;
    width: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

td button i {
    font-size: 16px;
    color: #f1e64e;
}

tbody tr:hover td button i {
    color: black;
}

.no-data-row {
    text-align: center;
    padding: 10px;
    background-color: #0c0c0c;
    color: #f1e64e;
    font-size: 14px;
}

.data-table {
    position: relative;
}

.data-table::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: white;
}
