<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="page">
    <div class="cont">
        <h4>Mis campañas</h4>
        <div class="nav_table">
            <button class="upload">Crear</button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo campaña</th>
                        <th>Fecha creación</th>
                        <th>Fecha programada</th>
                        <th>Hora programada</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let campana of listCam; let i = index">
                        <td>{{ campana.nombre }}</td>
                        <td>{{ campana.nombre_tipo_campana }}</td>
                        <td>{{ campana.fecha_creacion | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ campana.fecha_programada | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ campana.hora_programada }}</td>
                        <td>
                            <button (click)="openEditModal(campana)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button (click)="eliminarCampana(campana)">
                                <i class="fas fa-trash-alt"></i>
                            </button>                            
                        </td> 
                    </tr>
                    <tr *ngIf="listCam.length === 0">
                        <td colspan="6">No hay campañas disponibles</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Modal para editar campaña -->
<app-edit-campana 
  *ngIf="isModalOpen" 
  [campana]="selectedCampana" 
  (onSave)="editarCampana($event)" 
  (onClose)="closeModal()">
</app-edit-campana>