<div class="container">
    <div class="sidebar">

        <div class="perfil">
            <div class="img">
                <img src="assets/img/user.jpg" alt="foto">
            </div>
            <div class="nombre">
                <h4>Nombre Apellido</h4>
            </div>
            <button class="editarPerfil">Editar perfil</button>
        </div>

        <hr class="separator">

        <nav>
            <div class="link">
                <h3>Mi espacio de trabajo</h3>
                <button class="lista_destinatarios" (click)="irDestinatarios()"> Mis destinatarios</button>
                <button class="mis_campanas" (click)="irCampanas()">Mis campañas</button>
                <button class="envios_correo" (click)="irEmail()">Envíos de correo</button>
                <button class="envio_SMS" (click)="irSMS()">Envíos de SMS</button>
                <button class="reportes" (click)="irReportes()">Reportes de campaña</button>
            </div>
        </nav>

    </div>
</div>