<div class="page">
    <div class="portada">
        <div class="info">
            <h1>Massive</h1>
            <h3>Tú das la visión,<br />nosotros la hacemos llegar a todo el mundo.</h3>
        </div>
    </div>
    <div class="desc">
        <div class="info">
            <h3>¿Por qué trabajar con nostros?</h3>
            <h4>En Massive, entendemos la importancia de una comunicación efectiva y personalizada para
                hacer crecer tu negocio. Nuestro servicio de envío masivo de emails y SMS está diseñado para que
                conectes con tu audiencia de manera directa, eficiente y sin complicaciones.</h4>
        </div>
    </div>
    <div class="gal">
        <div class="card">
            <img src="assets/img/solucion.jpg" alt="">
            <div class="info">
                <h4>Soluciones a la medida</h4>
                <p>Adaptamos nuestras estrategias y plataformas según las necesidades de tu empresa, asegurando que tu
                    mensaje llegue de forma óptima y a los destinatarios correctos.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/rules.jpg" alt="">
            <div class="info">
                <h4>Cumplimiento normativo</h4>
                <p>Nos tomamos muy en serio las regulaciones y normativas relacionadas con la privacidad y protección de
                    datos, asegurando que tus campañas se desarrollen dentro del marco legal.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/optimizacion.jpg" alt="">
            <div class="info">
                <h4>Análisis y optimización</h4>
                <p>Ofrecemos herramientas avanzadas de seguimiento y análisis para que puedas medir la efectividad de
                    tus campañas en tiempo real, ajustando estrategias para obtener los mejores resultados.</p>
            </div>
        </div>
    </div>

    <div class="popup" id="popup" #popup>
        <div class="cerrar">
            <h3 id="closeBtn" #closeBtn>X</h3>
        </div>
        <div class="cont" id="cont" #cont>
            <h1>Iniciar sesión</h1>
            <form>
                <label for="email">Email</label>
                <input id="email" type="text">
                <label for="pass">Contraseña</label>
                <input id="pass" type="password">
                <button type="submit">Ingresar</button>
            </form>
            <a id="registro" #registro>¿No tienes una cuenta?</a>
        </div>
        <div class="cont1" id="cont1" #cont1>
            <h1>Crear cuenta</h1>
            <form>
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text">
                <label for="apellido">Apellido</label>
                <input id="apellido" type="text">
                <label for="email">Email</label>
                <input id="email" type="text">
                <label for="pass">Contraseña</label>
                <input id="pass" type="password">
                <label for="pass">Repetir contraseña</label>
                <input id="pass" type="password">
                <button type="submit">Crear</button>
            </form>
            <a id="volver" #volver>¡ya tengo una cuenta!</a>
        </div>
    </div>
</div>