<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="page">
    <div class="cont">
        <div class="nav_table">
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Tipo campaña</th>
                        <th>Fecha Envio</th>
                        <th>Nro destinatarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let difusion of listDif" (click)="selDataDif(difusion.id_campana)">
                        <td>{{ difusion.nombre }}</td>
                        <td>{{ difusion.estado_campana}}</td>
                        <td>{{ difusion.tipo_campana }}</td>
                        <td>{{ difusion.fecha_programada }}</td>
                        <td>{{ difusion.nro_destinatarios }}</td>
                    </tr>
                    <tr *ngIf="listDif.length === 0">
                        <td colspan="8">No hay difusiones disponibles.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="popup" id="popup" #popup>
        <div class="cerrar">
            <h3 id="closeBtn" #closeBtn>X</h3>
        </div>
        <div class="header">
            <h3>Destinatarios campaña</h3>
        </div>
        <div class="cont">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let destinatario of listDest">
                            <td>{{ formatRut(destinatario.rut) }}-{{ destinatario.dvrut | titlecase}}</td>
                            <td>
                                {{ destinatario.nombre | titlecase }}
                                {{ destinatario.snombre | titlecase}}
                                {{ destinatario.appaterno | titlecase}}
                                {{ destinatario.apmaterno | titlecase }}
                            </td>
                            <td class="email-container">{{ destinatario.email }}</td>
                            <td>{{ destinatario.telefono }}</td>
                            <td>
                                <button (click)="eliminarDestinatario(destinatario.rut)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>

                        </tr>
                        <tr *ngIf="listDest.length === 0">
                            <td colspan="9">No hay destinatarios disponibles.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>